<div class="row d-flex justify-content-center container">
    <div class="col-md-6">
      <div class="card-hover-shadow-2x mb-3 card">
        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
              class="fa fa-tasks"></i>&nbsp;Task Lists</div>
        </div>
        <div class="scroll-area-sm">
          <div class="ps-show-limits">
            <div style="position: static;" class="ps ps--active-y">
              <div class="ps-content">
                <ul class=" list-group list-group-flush">
                    <div *ngFor= "let task of tasks">
                  <li class="list-group-item">
                    <div class="todo-indicator bg-success"></div>
                    <div class="widget-content p-0">
                      <div class="widget-content-wrapper">
                        <div class="widget-content-left flex2">
                          <div class="widget-heading">{{task.taskName}}</div>
                          <div class="widget-subheading">Added at {{task.taskAddedTime}}</div>
                          <div class="widget-subheading">Task Details : {{task.taskDescription}}</div>
                        </div>
                        <div class="widget-content-right"> <button
                            class="border-0 btn-transition btn btn-outline-success"> <i
                              class="fa fa-check"></i></button> <button
                            class="border-0 btn-transition btn btn-outline-danger"> <i class="fa fa-trash"></i>
                          </button> </div>
                      </div>
                    </div>
                  </li>
                </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="d-block text-right card-footer"><button class="mr-2 btn btn-link btn-sm">Cancel</button><button
            class="btn btn-primary" (click)="addTasks()">Add Task</button></div>
      </div>
    </div>
  </div>