<aside class="sidebar">
  <div id="leftside-navigation" class="nano">
    <ul class="nano-content">
      <li>
        <a><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      </li>
      <li class="sub-menu">
        <a (click)="viewProfile()"><i class="fa fa-table"></i><span>Profile</span><i
            class="arrow fa fa-angle-right pull-right"></i></a>
      </li>
      <li class="sub-menu">
        <a (click)="viewAll()"><i class="fa fa-table"></i><span>View Tasks</span><i
            class="arrow fa fa-angle-right pull-right"></i></a>
      </li>
    </ul>
  </div>
</aside>

<!-- Task List -->
<div *ngIf="viewTasks">
  <app-view-all-task></app-view-all-task>
</div> 